@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MM.CAAM.Gestion.DTO.DTOs.UsuarioDTO

<div class="row">
    <div class="col-2">
        <div><span>@Model.Position) </span>
            <a class="pe-3" title="Historial" href="~/Consulta/ConsultaDeUsuario/?UsuarioId=@Model.Id">
                <i class="fa-solid fa-magnifying-glass"></i>
                @Model.NombreCompleto
            </a>
        </div>
        <div class="float-end">
                @*<a class="pe-3" title="Historial" href="~/Consulta/ConsultaDeUsuario/?UsuarioId=@Model.Id"><i class="fa-solid fa-magnifying-glass"></i></a>*@
                @*<a class="" title="Agregar consulta" href="~/Consulta/NuevaConsulta/?UsuarioId=@Model.Id"><i class="fa-solid fa-plus"></i></a>*@
        </div>
    </div>
    <div class="col-2">@Model.Correo</div>
    <div class="col-1">
        @switch (@Model.GeneroId)
        {
            case 1:
                @Html.Raw("Mujer")
                ;
                break;
            case 2:
                @Html.Raw("Hombre")
                ;
                break;
            case 3:
                @Html.Raw("No binario")
                ;
                break;
            case 4:
                @Html.Raw("Prefiero no decirlo")
                ;
                break;
            case 5:
                @Html.Raw("Otro")
                ;
                break;
        }
        @*@switch (@Model.GeneroId)
        {
            case 1:
                @Html.Raw("Administrador");
                break;
            case 2:
                @Html.Raw("Jefe")
                ;
                break;
            case 3:
                @Html.Raw("Operador")
                ;
                break;
            case 4:
                @Html.Raw("Paciente")
                ;
                break;
        }*@

        
        </div>
    <div class="col-1" title="Fecha de nacimiento: @Model.FechaNacimiento.ToString("MM-dd-yyyy")">
        @if (Model.FechaNacimiento != DateTime.MinValue)
            @Model.TiempoNacimiento
    </div>
    <div class="col-2">@Model.Nacionalidad</div>
    <div class="col-1">@Model.Telefono</div>
    <div class="col-2">@Model.Ocupacion</div>
    <div class="col-1">@Model.FechaCreacion</div>
</div>
@*<div class="row">
    <div class="col-12">
        <a class="" href="~/Consulta/ConsultaDeUsuario/?UsuarioId=@Model.Id"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="btn btn-link" title="Agregar consulta" href="~/Consulta/NuevaConsulta/?UsuarioId=@Model.Id"><i class="fa-solid fa-plus"></i></a>
    </div>
</div>*@
