@model MM.CAAM.Admin.DTOs.UsuarioDTO
@*
    README
    https://www.bootdey.com/snippets/tagged/contacts*@
@*@model MM.CAAM.Admin.DTOs.HomeDto*@
@{
    //ViewBag.MetaDescripcion = Model.MetaHtml.Description;
    //ViewBag.MetaAuthor = Model.MetaHtml.Author;
    //ViewBag.MetaKeywords = Model.MetaHtml.Keywords;
    //ViewBag.Descripcion = Model.Descripcion;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuarios";
}
<br />
@*<h1>Agregar usuario</h1>*@
<br />

<div class="container-fluid px-1 py-2 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11">
            @*<h3>Agregar Usuario</h3>
                <p class="blue-text">Formulario</p>*@
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="~/assets/imgages/medico/esculapio.png" width="50px" alt="Alternate Text" style="opacity:0.8" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="blue-text">Crea un Nuevo Usuario</h3>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    @*https://qawithexperts.com/article/asp-net/form-submit-in-aspnet-mvc-c-htmlbeginform-example/314*@
                    @*<h5 class="text-center mb-4">Usuario nuevo</h5>*@
                    @*<form id="Form1" action="usuario/crear_usuario" method="post" >*@
                    @using (Html.BeginForm("CrearUsuario", "Usuario", FormMethod.Post, new { id = "Form1", enctype = "multipart/form-data" }))
                    {
                        
                        <div class="row  text-left">
                            <div class="col-sm-6 flex-column d-flex">
                                <div class="form-group">
                                    <label class="form-control-label px-6">Nombre(s)<span class="text-danger"> *</span></label>
                                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } }) @*, @required = "required"*@
                                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-xs-6">
                                <label><span class="text-danger">*</span> Apellidos</label>
                                @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } }) @*, @required = "required"*@
                                @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-6 col-xs-6">
                                <label><span class="text-danger">*</span> Apellidos</label>
                                @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } }) @*, @required = "required"*@
                                @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-6"><i class="fa-solid fa-calendar-days form-control-label"></i> Fecha de Nacimiento<span class="text-danger"> *</span></label>
                                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } }) @*, @required = "required"*@
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                <label><span class="text-danger">*</span> Genero</label>
                                @Html.DropDownListFor(model => model.Genero, (SelectList)ViewBag.Generos, "[SELECCIONE.. ]", new { @class = "form-control" }) @*, @required = "required"*@
                                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                <label><span class="text-danger">*</span> Rol</label>
                                @Html.DropDownListFor(model => model.RolId, (SelectList)ViewBag.Roles, "[SELECCIONE.. ]", new { @class = "form-control" }) @*, @required = "required"*@
                                @Html.ValidationMessageFor(model => model.RolId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row text-left">
                            <div class="form-group col-6 flex-column d-flex">
                                <label class="form-control-label px-6"><i class="fa-solid fa-address-book form-control-label"></i> Dirección<span class="text-danger"> *</span></label>

                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6 flex-column d-flex">
                                <label class="form-control-label px-6"><i class="fa-solid fa-phone form-control-label"></i> Teléfono<span class="text-danger"> *</span></label>

                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6 flex-column d-flex">
                                <label class="form-control-label px-6"><i class="fa-solid fa-envelope form-control-label"></i> Correo<span class="text-danger"> *</span></label>

                                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6 flex-column d-flex">
                                <label class="form-control-label px-6"><i class="fa-solid fa-briefcase form-control-label"></i> Ocupación</label>

                                @Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ocupacion, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-6">
                                <label><span class="text-danger">*</span> Contraseña</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label><span class="text-danger">*</span> Comfirmar Contraseña</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(model => model.PerfilNombreArchivo)
                                @Html.EditorFor(model => model.PerfilNombreArchivo, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                @Html.ValidationMessageFor(model => model.PerfilNombreArchivo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="form-label">¿Esta Activo?</label>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Activo" id="activoSi" value="true" checked>
                                    <label class="form-check-label">
                                        Si
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Activo" id="activoNo" value="false">
                                    <label class="form-check-label">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary float-right" style="font-family: 'Google Sans',Roboto,Arial,sans-serif;">Agregar</button>  @*ml-auto*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        //$(document).ready(function () {
        //    $('#Form1').submit(function (event) {
        //        if (!event.result)
        //            return false;
        //        else
        //            event.preventDefault();

        //    });
        //});
    </script>
}